<div class="interests-page">

  <!-- HEADER -->
  <section class="page-header">
    <div class="header-content">
      <h1>My Interests <span>💗</span></h1>
      <p>Manage the people who are interested in you</p>

      <div class="interest-tabs">
        <button class="tab-btn" [class.active]="activeTab === 'received'" (click)="getReceivedInterests(); activeTab = 'received';">
          Received
          <span class="tab-count">{{receivedInterestsCount}}</span>
        </button>

        <button class="tab-btn" [class.active]="activeTab === 'sent'" (click)="getSentInterests(); activeTab = 'sent';">
          Sent
          <span class="tab-count">{{sentInterestsCount}}</span>
        </button>
  
        <!-- <button class="tab-btn" [class.active]="activeTab === 'accepted'" (click)="activeTab = 'accepted'"> -->
        <button class="tab-btn" >
          Accepted
          <!-- <span class="tab-count">3</span> -->
        </button>

        <!-- <button class="tab-btn" [class.active]="activeTab === 'rejected'" (click)="activeTab = 'rejected'"> -->
        <button class="tab-btn">
          Rejected
          <!-- <span class="tab-count">4</span> -->
        </button>
      </div>
    </div>

    </section>


  <!-- MAIN CONTAINER -->
  <section class="interest-container">


    <!-- RECEIVED INTERESTS -->
    <div class="interest-section">


      <!-- CARD 1 -->
      <div *ngFor="let interest of interests" class="interest-list">

        <div class="interest-card">

          <div class="profile-section">

            <div class="profile-image-wrapper">
              <img
                [src]="interest.photo"
                alt="Priya Sharma"
                class="profile-image"
              />

              <!-- <span class="online-dot"></span> -->
            </div>

            <div class="profile-info">

              <div class="name-row">
                <h3> {{interest.name}}</h3>
              </div>

              <p>
                <strong>Age:</strong>
                 {{ interest.age }} Years
              </p>

              <p>
                <strong>⌖ Location:</strong>
                 {{interest.location}}
              </p>

              <p>
                <strong>▣ Education:</strong>
                {{interest.education}}
              </p>

            </div>

          </div>


          <div class="interest-actions">

            <button class="btn accept-btn">
              Accept
            </button>

            <button class="btn reject-btn">
              Reject
            </button>

          </div>

        </div>

      </div>

    </div>




  </section>

</div>