/* Center wrapper */
.search-wrapper{
  min-height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  padding:15px;
}

/* Card */
.search-card{
  background:#fff;
  width:100%;
  max-width:650px;
  padding:40px 80px;
  border-radius:6px;
}

/* Title */
.search-card h2{
  text-align:center;
  font-size:18px;
  color:#555;
  margin-bottom:20px;
}

/* Common row layout */
.form-row{
  display:grid;
  grid-template-columns:90px 1fr;
  align-items:center;
  gap:0px;
  margin-bottom:26px;
}

/* Labels */
.label{
  font-size:14px;
  font-weight:500;
  color:#585858;
}

/* Inputs & selects */
input,
select{
  width:100%;
  height:45px;
  padding:10px;
  border:1px solid #dcdcdc;
  font-size:14px;
}

/* Segmented buttons */
.segmented{
  display:flex;
  border:1px solid #ddd;
  height:45px;
}

.segmented input[type="radio"]{
  display:none;
}

.segmented label{
  flex:1;
  text-align:center;
  line-height:45px;
  cursor:pointer;
  font-size:14px;
  background:#fff;
  color:#333;
}

.segmented input[type="radio"]:checked + label{
  background:#ff4d4d;
  color:#fff;
  font-weight:600;
}

/* Age grid */
.age-grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:12px;
}

/*income*/
.income-grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:12px;
}



/* Button */
.search-btn{
  margin-top:20px;
  width:100%;
  height:48px;
  border:none;
  background:#ff4d4d;
  color:#fff;
  font-size:15px;
  font-weight:500;
  border-radius:1px;
  cursor:pointer;
}

.search-btn:hover{
  background:#ff4d4d;  
}

/* Responsive */
@media(max-width:480px){
 .search-wrapper{
  min-height:0;
  display:flex;
  align-items:center;
  justify-content:center;
  padding:3px;
}
  .search-card{
    padding:20px;
  }

  .form-row{
    grid-template-columns:1fr;
    gap:6px;
  }

  .label{
    font-size:13px;
  }
}