<div class="search-wrapper">
  <div class="search-card">
    <h2>Search Profiles</h2>

    <!-- Search For -->
    <div class="form-row">
      <span class="label">Search for</span>
      <div class="segmented">
        <input type="radio" id="bride" name="gender" checked />
        <label for="bride">Bride</label>

        <input type="radio" id="groom" name="gender" />
        <label for="groom">Groom</label>
      </div>
    </div>

    <!-- Age -->
    <div class="form-row">
      <span class="label">Age</span>
      <div class="age-grid">
        <input type="number" placeholder="Min" />
        <input type="number" placeholder="Max" />
      </div>
    </div>

    <!-- height -->
    <div class="form-row">
      <span class="label">Height</span>
      <div class="age-grid">
        <input type="number" placeholder="Min fit" />
        <input type="number" placeholder="Max fit" />
      </div>
    </div>

    <!-- Location -->
    <div class="form-row">
      <span class="label">Location</span>
      <input type="text" placeholder="Enter city, state or country" />
    </div>

    <!-- Education -->
    <div class="form-row">
      <span class="label">Education</span>
      <select>
        <option>Any Education</option>
        <option>UG</option>
        <option>PG</option>
      </select>
    </div>

    <!-- Profession -->
    <div class="form-row">
      <span class="label">Profession</span>
      <input type="text" placeholder="Enter profession" />
    </div>

    <!-- Income -->
    <!-- Income -->
    <div class="form-row">
      <span class="label">Income</span>
      <div class="income-grid">
        <select>
          <option disabled selected>Min Income</option>
          <option>1 Lakh</option>
          <option>3 Lakh</option>
          <option>5 Lakh</option>
        </select>

        <select>
          <option disabled selected>Max Income</option>
          <option>and above</option>
          <option>5 Lakh</option>
          <option>10 Lakh</option>
          <option>20 Lakh</option>
        </select>
      </div>
    </div>

    <button type="button" class="search-btn" (click)="goToSearchResult()">Search Profiles</button>
  </div>
</div>
