<div class="search-wrapper">
  <div class="search-card">
    <h2>Search Profiles</h2>

    <!-- Search For -->
    <div class="form-row">
      <span class="label">Search for</span>
      <div class="segmented">
        <input type="radio" id="bride" value="Female" name="gender" [(ngModel)]="search.gender" />
        <label for="bride">Bride</label>

        <input  type="radio" id="groom" name="gender" value="Male" [(ngModel)]="search.gender" />
        <label for="groom">Groom</label>
      </div>
    </div>

    <!-- Age -->
    <div class="form-row">
      <span class="label">Age</span>
      <div class="age-grid">
        <input type="number" name="MinAge" placeholder="Min" [(ngModel)]="search.minAge"/>
        <input type="number" name="MaxAge" placeholder="Max" [(ngModel)]="search.maxAge"/>
      </div>
    </div> 

    <!-- height -->
    <!-- <div class="form-row">
      <span class="label">Height</span>
      <div class="age-grid">
        <input type="number" name="Minfit" placeholder="Min fit" [(ngModel)]="search.minHeight"/>
        <input type="number" name="maxfit" placeholder="Max fit" [(ngModel)]="search.maxHeight"/>
      </div>
    </div> -->

    <!-- Location -->
    <div class="form-row">
      <span class="label">Location</span>
      <input type="text" placeholder="Enter city, state or country" [(ngModel)]="search.location" />
    </div>

    <!-- Education -->
    <!-- <div class="form-row">
      <span class="label">Education</span>
      <select [(ngModel)]="search.education">
        <option>Any Education</option>
        <option>UG</option>
        <option>PG</option>
      </select>
    </div> -->

    <!-- Profession -->
    <div class="form-row">
      <span class="label">Profession</span>
      <input type="text" placeholder="Enter profession" [(ngModel)]="search.profession"/>
    </div>

    
    <!-- Income -->
    <div class="form-row">
      <span class="label">Income</span>
      <div class="income-grid">
        <select [(ngModel)]="search.minIncome">
          <option disabled value="">Min Income</option>
            <option value="0">No Income</option>
              <option value="1">0 - 1 Lakh</option>
              <option value="2">1 - 2 Lakh</option>
              <option value="3">2 - 3 Lakh</option>
              <option value="4">3 - 4 Lakh</option>
              <option value="5">4 - 5 Lakh</option>
              <option value="7.5">5 - 7.5 Lakh</option>
              <option value="10">7.5 - 10 Lakh</option>
              <option value="15">10 - 15 Lakh</option>
              <option value="20">15 - 20 Lakh</option>
              <option value="25">20 - 25 Lakh</option>
              <option value="35">25 - 35 Lakh</option>
              <option value="50">35 - 50 Lakh</option>
              <option value="70">50 - 70 Lakh</option>
              <option value="100">70 - 1 crore</option>
        </select>

        <select [(ngModel)]="search.maxIncome">
              <option disabled value="">Max Income</option>
              <option value="0">No Income</option>
              <option value="1">0 - 1 Lakh</option>
              <option value="2">1 - 2 Lakh</option>
              <option value="3">2 - 3 Lakh</option>
              <option value="4">3 - 4 Lakh</option>
              <option value="5">4 - 5 Lakh</option>
              <option value="7.5">5 - 7.5 Lakh</option>
              <option value="10">7.5 - 10 Lakh</option>
              <option value="15">10 - 15 Lakh</option>
              <option value="20">15 - 20 Lakh</option>
              <option value="25">20 - 25 Lakh</option>
              <option value="35">25 - 35 Lakh</option>
              <option value="50">35 - 50 Lakh</option>
              <option value="70">50 - 70 Lakh</option>
              <option value="100">70 - 1 crore</option>
        </select>
      </div>
    </div>

    <button type="button" class="search-btn" (click)="goToSearchResult()">Search Profiles</button>
  </div>
</div>
