<nav class="navbar">
    <div class="logo">
        Holar<span>Samaj</span>Matrimony
    </div>

    <!-- Hamburger checkbox -->
    <input type="checkbox" id="menu-toggle">
    <label for="menu-toggle" class="hamburger">
        ☰
    </label>

    <ul class="nav-links">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/profile-search">Search</a></li>
        <li><a routerLink="/login" class="login">Login</a></li>
        <li><a routerLink="/register" class="btn">Registration</a></li>
        <li><a routerLink="/profile" class="btn">Profile</a></li>
    </ul>
</nav>


<!-- <nav>
  <a routerLink="/">Home</a> |
  <a routerLink="/login">Login</a> |
  <a routerLink="/register">Register</a> |
  <a routerLink="/profile">Profile</a>
</nav> -->

