/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  padding: 15px 40px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  z-index: 1000;
}

/* Logo */
.logo {
  font-size: 22px;
  font-weight: bold;
  color: rgb(238, 91, 65);
}

.logo span {
  color: #333;
}

/* Nav links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links li a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links li a:hover {
  color: tomato;
  font-size: 17px;
}
.nav-links li a.login {
  color: rgb(236, 91, 65);
  font-weight: 700;
}
.nav-links li a.login:hover {
  color: #bd2f1c;
}

/* Registration button */
.btn {
  padding: 8px 19px;
  background: #d43c28;
  color: white !important;
  border-radius: 15px;
}

.btn:hover {
  background: #ce3c28;
}

/* Hamburger */
.hamburger {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

/* #menu-toggle {
    display: none;
} */

/* Responsive */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    gap: 6px;
    background: #ffffff;
    width: 100%;
    flex-direction: column;
    align-items: center;
    display: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }

  .nav-links li {
    padding: 15px 0;
  }

  .nav-links {
    display: none;
  }
  .nav-links.active {
    display: flex;
    flex-direction: column;
  }

  /* #menu-toggle:checked ~ .nav-links {
        display: flex;
    } */
}
