/* Center container */
.main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

/* Card */
.card {
  width: 100%;
  max-width: 360px;
  background: #ffffff;
  padding: 24px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

.login-top-image {
  text-align: center;
  margin-bottom: 15px;
}

.login-top-image img {
  max-width: 200px;
  width: 100%;
  height: auto;
}


h2 {
  text-align: center;
  color: #585858;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Input box */
.input-box {
  position: relative;
  margin-bottom: 22px;
}

.input-box i,
.input-box .icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: #6e6e6e;
  display: flex;
  align-items: center;
}

.input-box input {
  width: 100%;
  padding: 10px 10px 10px 42px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 18px;
}

.input-box input:focus {
  outline: none;
  border-color: #ff4d4d;
}

/* Button */
.login-btn {
  width: 100%;
  padding: 12px;
  background-color: #ffffff;
  color: #696969;
  border: 1px solid #e63939;
  font-size: 15px;
  border-radius: 18px;
  cursor: pointer;
}

.login-btn:hover {
  background: #e63939;
  color: white;
}

/* Links */
.forgot,
.register-link {
  text-align: center;
  margin-top: 12px;
  font-size: 13px;
  color: #8b8b8b;
}

.forgot a,
.register-link a {  
  color: #585858;
  text-decoration: none;
  font-weight: 600;
}

/* Mobile */
@media (max-width: 480px) {
  .card {
    padding: 20px;
  }
}
