/* ===============================
   SUCCESS / ERROR MESSAGE
================================ */
.alert{
  text-align: center;
  font-size: 14px;
  font-weight: 400;  
  margin-bottom: 10px
}

.successMessage{ 
  color: #047857;  
}

.errorMessage{  
  color: #b91c1c;
}

/* ===============================
   CONTAINER
================================ */
.container{
  min-height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: center;     /* keeps card vertically centered */
  align-items: center;
  padding-top: 20px;           /* space for message */
  margin-bottom: 15px;
}

/* ===============================
   CARD
================================ */
.card{
  background: #fff;
  width: 380px;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.1);
}

h2{
  text-align: center;
  font-size: 16px;
  margin-bottom: 18px;
  color: #444;
}

/* ===============================
   FORM ELEMENTS
================================ */
label{
  font-size: 13px;
  color: #333;
}

input{
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

input:focus{
  outline: none;
  border-color: #ff4d4d;
}

/* ===============================
   BUTTON
================================ */
button{
  width: 100%;
  background: #ff4d4d;
  color: #fff;
  border: none;
  padding: 12px;
  font-size: 15px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover{
  background: #e63c3c;
}

/* ===============================
   BACK TO LOGIN
================================ */
.back-to-login{
  margin-top: 16px;
  font-size: 16px;
  text-align: center;
}

.back-to-login a{
  color: #444;
  text-decoration: none;
}

/* ===============================
   MOBILE
================================ */
@media (max-width: 480px) {
  .card{
    width: 100%;
    max-width: 350px;
  }
}

/* form validation  */
.error {
  color: #e53935;
  font-size: 12px;
  margin-bottom: 5px;
  display: block;
}

input.ng-invalid.ng-touched {
  border: 1px solid #e53935;
}

button[disabled] {
  background: #ccc;
  cursor: not-allowed;
}
