.forgot-wrapper {
  min-height: calc(100vh - 200px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: #faf7f5;
}

.forgot-card {
  background: #fff;
  width: 100%;
  max-width: 400px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.1);
}

h2{
    text-align: center;
    color: #d42c15;
    margin-bottom: 10px;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: 600;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  background: #d43c28;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

button:hover {
  background: #bd2f1c;
}

.message {
  color: #d43c28;
  text-align: center;
}

.back-link {
  text-decoration: none;
  display: block;
  margin-top: 15px;
  text-align: center;
  color: #929292;
}
