<div class="forgot-wrapper">
  <div class="forgot-card">

    <h2>Forgot Password</h2>
    <p class="message">{{ message }}</p>

    <!-- STEP 1: EMAIL -->
    <form *ngIf="step === 1">
      <label>Email</label>
      <input type="email" [(ngModel)]="email" name="email" placeholder="Enter email">

      <button type="button" (click)="sendOtp()">Send OTP</button>
    </form>

    <!-- STEP 2: OTP -->
    <form *ngIf="step === 2">
      <label>Enter OTP</label>
      <input type="text" [(ngModel)]="otp" name="otp" placeholder="Enter OTP">

      <button type="button" (click)="verifyOtp()">Verify OTP</button>
    </form>

    <!-- STEP 3: RESET PASSWORD -->
    <form *ngIf="step === 3">
      <label>New Password</label>
      <input type="password" [(ngModel)]="newPassword" name="newPassword">

      <label>Confirm Password</label>
      <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword">

      <button type="button" (click)="resetPassword()">Change Password</button>
    </form>

    <a routerLink="/login" class="back-link">← Back to Login</a>

  </div>
</div>
