.site-footer {
  background: rgb(238, 235, 235);
  color: #555555;
  padding: 60px 20px 0;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 40px;
}

/* Logo */
.footer-logo {
  font-size: 26px;
  color: #ff6f00;
  margin-bottom: 15px;
}

.footer-logo span {
  color: #ffffff;
}

/* Text */
.footer-about p {
  line-height: 1.7;
  color: #797878;
}

/* Links */
.footer-links h3,
.footer-contact h3 {
  color: f3f3f3;
  margin-bottom: 15px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin-bottom: 10px;
}

.footer-links ul li a {
  color: #646464;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links ul li a:hover {
  color: #ff6f00;
}

/* Contact */
.footer-contact p {
  margin-bottom: 10px;
}

/* Bottom Bar */
.footer-bottom {
  margin-top: 40px;
  padding: 15px 0;
  text-align: center;
  background:  rgb(209, 62, 36);
  color: #f3f3f3;
  font-size: 14px;
}


